<div class="login-main">
	
	<div class="login-logo"><img class="img" src="./img/upkeep-main.png"></div>
	
	<div class="login-auth">
		<a href="/auth/google">
		<div class="google-btn"><i class="fa fa-google fa-3x" aria-hidden="true"></i></div>
		</a>
		<a href="/auth/facebook">
		<div class="facebook-btn"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></div>
		</a>
	</div>
	
	<div class="login-text"><h1>Login / Sign Up</h1></div>
	
	<div><a href="">
		<p ng-click="dummy()">-Dummy User-</p>
	</a></div>
	
	
	<!--<div class="sign-up"><h3>SIGN UP</h3></div>-->
	
</div>