<div class="side-panel-main" >
	
	<div class="close" ui-sref="user.list.new" close-create>
		<i class="fa fa-times icon" aria-hidden="true"></i>
	</div>
	
	<div class="title"><h1>New Reminder</h1></div>
	
	<div class="input-wrapper">
		<h4 class="edit-titles">Name</h4>
		<input class="edit-input" type="text" ng-model="newItem.name" >
	</div>
	<div class="input-wrapper">
		<h4 class="edit-titles">Date</h4>
		<input  class="edit-input" type="date" ng-model="newItem.date" >
	</div>
	<div class="input-wrapper">
		<h4 class="edit-titles">Description</h4>
		<textarea class="text-area" ng-model="newItem.description" cols="30" rows="3"></textarea>
	</div>
	
	
	<div class="btns">
		<div class="btn" ng-click="postItem()">Save</div>
		<div class="btn" close-create>Cancel</div>
	</div>

</div>